body {
    background-color: #252627;
}

.App {
    max-width: 100%;
}

span:hover, span:visited, span:link, span:active {
    color: #48cfad;
}

.navbar {
    background-color: #181818;
}

.text a {
    padding: 12px 25px;
    background-color: transparent;
    border: 3px solid #48cfad;
    color: #48cfad;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #fff;
    text-decoration: none;
}

.text a::before {
    content: "";
    background-color: #48cfad;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: .5s;
    text-decoration: none;
}

.text a:hover::before, btn-default::before {
    height: 100%;
    text-decoration: none;
}

.btn-default {
    border: 3px solid #48cfad;
    padding: 15px 30px;
    border-radius: 50px;
    color: #48cfad;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
    align-items: center;
}

.btn-default:hover {
    color: #BEBEBE;
}

.btn-default:hover::before {
    height: 100%;
    text-decoration: none;
}

.projects h1,
.skills h1, .about h1{
    font-size: 10rem;
    color: #707070;
    opacity: .1;
    margin-bottom: -50px;
}

.skills-info h3, p,
.card-footer {
    color: #bebebe
}

.about img {
    position:relative;
    margin-top: -30px;
    margin-left: -100px;
    transform: translateX(-50%);
    z-index: -1;
}
